.container {
  width:80%;
  margin: 0 auto;
}
.todo-head {
  text-align: center;
  border: 1px solid red;
  padding: 30px;

  input {
    padding: 5px 10px;
    font-size: 20px;
  }

  button {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 20px;
  }
}

.todo-body {
  margin-top: 20px;
  margin-bottom: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}